@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');



/*normas generales*/
*{margin: 10px;
    padding: 10px;
    box-sizing: border-box;/*para que lo ajuste todo dentro de las cajas*/
    border-radius: 10px;/*para que los bordes sean redondeados, al ponerlo aqui afecta a toda nuestra pagina*/
    font-family: 'Roboto Slab', serif;
}

body{background-color: beige;
}

/*normas id contenedor principal*/
.contenedor_principal{background-color:rgb(196, 217, 196);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 1px solid rgb(149, 156, 149);
}

/*normas del header*/
.header{background-color:rgb(237, 237, 198);
display: flex;
flex-flow: column nowrap;
height: auto;
border: 1px solid rgb(164, 101, 101);}

        .direccion{font-size: medium;}

    .encabezado{background: rgb(228, 226, 226) ;
    display: flex;
    height: 50px;
    flex-basis: 100%;/*esto lo he utilizado para que ocupe el 100% de la anchura*/
    justify-content: center;/*este lo he utilizado para centrarlo horizontalmente*/
    padding: 30px;
    border:5px solid rgb(83, 81, 81);
    align-items: center;
}
    .parrafo{
    font-size:35px;
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    }
    .nombre{font-size: 50px;}
figcaption{
display: flex;
flex-direction: row;
justify-content: center;
}
            .mengibar{width: 200px;
            height: 180px;}
            

        .titulo{background: rgb(228, 226, 226);
        display: flex;
        flex-direction:;row;
        flex-wrap:nowrap;
        height: auto;
        border: 1px solid black;}
    
            


        .nav{background: white;
            display: flex;
            justify-content: center;
            padding: 50px;
            width: 50%;
            border:1px solid black;
            flex-direction: column;
            }

        a{background-color: rgb(205, 201, 201);
        text-decoration: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap ;
        color: rgb(47, 45, 45);
    border:1px solid rgb(89, 88, 88);}


        


    .foto{background: white;
    display: flex;
    padding: 50px;
    width: 50%;
    border:1px solid black;
    justify-content: center;
    align-items: center;}

        .foto img{width:450px;
        height: 300px;
        display: flex;
        border:3px solid black;}

/*normas del cuerpo*/
.main{background-color:rgb(237, 237, 198);
display:flex ;
border:1px solid rgb(164, 101, 101); 
}

    .articulos{background-color: rgb(228, 226, 226);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 1px solid black;}


        .seccionuno{background-color:white;
        padding: 15px;
        margin: 15px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        border: 1px solid rgb(164, 101, 101);}
        
            .seccionuno h2{font-size: 30px;}

        .secciondos{background-color:white;
        padding: 15px;
        margin: 15px;
    border:1px solid black;
display: flex;
justify-content: center;
align-items: center;}

        .secciondos img{width:400px ;
            display: flex;
        }
    
       
        
/*aside*/
aside{background-color: white;
    margin:15px;
    padding:15px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;}

    .uno{background-color:rgb(231, 226, 226);
    padding: 30px;}

    .dos{background-color: rgb(231, 226, 226);
    padding:30px}

    .uno img{width: 200px;
    height: 150px;}
    .dos img{width: 200px;
        height: 150px;}


/*normas del footer*/
.footer{background-color:rgb(237, 237, 198);
display: flex;
justify-content: center;
border:1px solid rgb(164, 101, 101); 
text-align: center;}
    
.formulario{background-color: rgb(187, 187, 234);
    flex-basis: 100%;
   
    }
.formulario a{color: black;
}


