@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
/*comunes para todas*/
*{margin: 10px;
padding: 10px;
border-radius: 10px;
font-family: 'Roboto Slab', serif;}

body{background: beige;}

html{scroll-behavior:smooth;}

.container{background-color:rgb(196, 217, 196);
    border: 1px solid rgb(83, 179, 83);
    width: 100%; 
    display: flex; 
    flex-direction: column;  
   }

    .header{background-color:rgb(237, 237, 198);
        border:1px solid rgb(164, 101, 101);  
        display: flex;
        justify-content: center;
       }

        .main{background-color:rgb(237, 237, 198);
            border:1px solid rgb(164, 101, 101);
            display: flex;
            flex-direction: column;
            align-items: center;
            }



            .footer{background-color:rgb(237, 237, 198);
            border:1px solid rgb(164, 101, 101);
            width: 100%;
            height: 600px;
            display: flex;
            flex-direction: column;
            align-items: center;}
                footer.footer iframe{
                width: 100%;
                height: 100%;
            }


.formulario_label{cursor: pointer;}
/*reglas generales input*/
.formularioinput{position: relative;}
/*reglas del propio input*/
.input{width: 100%;
border:3px solid rgb(46, 158, 146);
border-radius: 3px;
height: 45px;
line-height: 45px;}
.input:focus{
    border: 3px solid blue;
}
/*cuando el input es erroneo*/
p.inputerror{
    margin-bottom: 0;
    display: none; /*oculto, solo aparece cuando hay error*/
}
p.inputerror-activo{display: block;}
/*icono validacion*/
i.validacion{position: absolute;
right: 10px;
bottom: 15px;
display: none;
opacity:0;
z-index: 100;}

div.formulario_telefono_correcto div.formularioinput i.validacion{position: absolute;
left: 160px;
bottom: 15px;
display: none;
opacity:0;
z-index: 100;}
/*fin icono validación*/
/*mensaje error de cada celda*/
div.formulario_mensaje {
    background-color: rgb(192, 144, 237);
    border-radius: 3px;
    padding: 15px;
    display: none;
}

div.formulario_mensaje-activo {
    display: block;
}
div.formulario_mensaje p{
    margin: 0;
}
/*fin mensaje error de cada celda*/
/*boton enviar*/
div.enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.enviar button.boton{
    width: 30%;
    background-color: black;
    color:white;
    cursor:pointer
}
div.enviar button.boton:hover{
    background-color: white;
    color: black;
}
/*fin boton enviar*/
/*parrafo de formulario correcto*/
div.enviar p.correcto{
    color:rgb(14, 185, 45);
    display: none;
}

div.enviar p.correcto-activo{
    display: block;
}
/*fin de parrafo de formulario correcto*/

/*estilos de validacion*/
div.formulario_nombre_correcto i.validacion{
    color: green;
    opacity: 1;
}
div.formulario_apellidos_correcto i.validacion{
    color: green;
    opacity: 1;
}
div.formulario_direccion_correcto i.validacion{
    color: green;
    opacity: 1;
}

div.formulario_email_correcto i.validacion{
    color: green;
    opacity: 1;
}
div.formulario_telefono_correcto i.validacion{
    color: green;
    opacity: 1;
}
/*incorrecto*/

div.formulario_nombre_incorrecto i.validacion{
    color:red;
    opacity: 1;
  
}

/*-------------------------------------*/

div.formulario_apellidos_incorrecto i.validacion{
    color: red;
    opacity: 1;
} 

/*---------------------------------------*/


div.formulario_direccion_incorrecto i.validacion{
    color: red;
    opacity: 1;
} 

/*----------------------------------------*/

div.formulario_email_incorrecto i.validacion{
    color: red;
    opacity: 1;
} 

/*-----------------------------------------*/

div.formulario_telefono_incorrecto i.validacion{
    color: red;
    opacity: 1;
} 


/*--------------------------------------------*/
/*media queris*/

@media screen and (max-width:584px){
    div.container{background-color: rgb(181, 234, 234);
   }

 
    
}