@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
/*comunes para todas*/
*{margin: 10px;
padding: 10px;
border-radius: 10px;
font-family: 'Roboto Slab', serif;}

body{background: beige;}

html{scroll-behavior:smooth;}

.container{background-color:rgb(196, 217, 196);
    border: 1px solid rgb(83, 179, 83);    
   }

    .header{background-color:rgb(237, 237, 198);
        border:1px solid rgb(164, 101, 101);
       }

        .main{background-color:rgb(237, 237, 198);
            border:1px solid rgb(164, 101, 101);
            }

            .footer{background-color:rgb(237, 237, 198);
                border:1px solid rgb(164, 101, 101);}

header.header h1{text-align: center;}
.formulario_label{cursor: pointer;}
.formularioinput{position: relative;}
.input{width: 100%;
border:3px solid rgb(162, 228, 221);
border-radius: 3px;}
.input:focus{
    border: 3px solid blue;
}
p.inputerror{
    margin-bottom: 0;
    display: none;
}
p.inputerror-activo{display: block;}

i.validacion{position: absolute;
right: 10px;
bottom: 15px;
opacity:0;
z-index: 100;}

div.formulariotelefono div.formularioinput i.validacion{position: absolute;
left: 160px;
bottom: 15px;
opacity:0;
z-index: 100;}