@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
/*comunes para todas*/
*{margin: 10px;
padding: 10px;
border-radius: 10px;
font-family: 'Roboto Slab', serif;}

body{background: beige;}

html{scroll-behavior:smooth;}

/*container principal*/
.container{background-color:rgb(196, 217, 196);
border: 1px solid rgb(83, 179, 83);    
display: flex;
flex-direction: row;
flex-wrap: wrap;}

/*estilos del menu exterior*/
.exterior{ background-color: rgb(252, 252, 227);
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;}

            .exterior a{background-color: rgb(177, 177, 157);
            font-size: 12px;}
            
/*estilos del menu exterior*/              


/*estilos del header*/
.header{background-color:rgb(237, 237, 198);
    border:1px solid rgb(164, 101, 101);
    display: flex;
    flex-direction: column;}

    header h1{background-color: rgb(223, 220, 220);
    font-size: 50px;
    display: flex;
    justify-content: center;}

        nav{display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;}

            nav a{background-color: rgb(195, 189, 189);
            color: rgb(14, 12, 12);
            text-decoration: none;}

        .inicio{background-color: rgb(72, 70, 70);
        color: white;}

/*estilos del main*/
.main{background-color:rgb(237, 237, 198);
border:1px solid rgb(164, 101, 101);
display: flex;
flex-direction: column;
flex-wrap: wrap;}

    main div{ background-color: rgb(208, 205, 205);
    padding: 15px;
    margin: 15px;
    border: 1px solid rgb(205, 163, 163);}

        .subir{ background: rgb(179, 169, 169);
        color: white;
        text-decoration: none;
        padding: 10px;
        display:flex ;
        align-items: center;
        justify-content: center;}

    h1{background-color: rgb(217, 219, 222);
    border: 1px solid rgb(119, 119, 161);
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    font-size: 30px;}

    section{background: white;
    margin: 20px;
    display: flex;
    flex-direction: column;}

    section h1{background-color: rgb(204, 205, 208);
        border: 1px solid rgb(119, 119, 161);;
        display: flex;
        flex-basis:100%;
        justify-content: center;
        font-size: 20px;}

article{background-color: rgb(212, 214, 216);
border: 1px solid rgb(119, 119, 161);
display: flex;
flex-direction: row;
flex-wrap: wrap;}

    img{width: 500px;
        height: 400px;
        display: flex;
        justify-content: center;}  

        section{display:flex;
        align-items: center;}

/*section class pisado
        .pisado{display: flex;
        align-items: center;}

/*fin section class pisado*/

/*section class torsion
    .torsion{display: flex;
    align-items: center;}
/*fin section class torsion*/

/*section class rodillos
.rodillos{display: flex;
    align-items: center;}
/*fin section class rodillos*/

/*section class mazas
.mazas{display: flex;
    align-items: center;}
/*fin section class mazas*/




       
            


/*
.primero section{

#primitivos{background: rgb(219, 216, 216);
text-align: center;}


img{
    
    .pisado{display: flex;
    flex-direction: row;
    flex-wrap: wrap;}
.pisado h1{background-color:rgb(209, 204, 204);
color:black;


.pisado img{display: flex;
justify-content: center;}
.pisado p{display: flex;
    justify-content: right;}




.torsion article img{width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;}

    .torsion{display: flex;
        flex-direction: row;
        flex-wrap: wrap;}
        .torsion h1{background-color:rgb(209, 204, 204);
            color:black;
            display: flex;
            flex-basis: 100%;
            text-align: center;
            font-size: 30px;}


.rodillos article img{width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;}

    .rodillos{display: flex;
        flex-direction: row;
        flex-wrap: wrap;}
        .rodillos h1{background-color:rgb(209, 204, 204);
            color:black;
            display: flex;
            flex-basis: 100%;
            text-align: center;
            font-size: 30px;}


.mazas article img{width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;}

    .mazas{display: flex;
        flex-direction: row;
        flex-wrap: wrap;}
        .mazas h1{background-color:rgb(209, 204, 204);
            color:black;
            display: flex;
            flex-basis: 100%;
            text-align: center;
            font-size: 30px;}


.segundo section{background: white;
    margin: 20px;
    display: flex;
    flex-direction: row;}
    
    #friccion{background: rgb(219, 216, 216);
    text-align: center;}

.trapetum article img{width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;}

    .trapetum{display: flex;
        flex-direction: row;
        flex-wrap: wrap;}
        .trapetum h1{background-color:rgb(209, 204, 204);
            color:black;
            display: flex;
            flex-basis: 100%;
            text-align: center;
            font-size: 30px;}*/


